@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-surface: #ffffff;
    --color-surface-elevated: #f4f4f5;
    --color-surface-hover: #e4e4e7;
    --color-surface-overlay: rgba(0, 0, 0, 0.4);
    
    --color-border: #e4e4e7;
    --color-border-strong: #d4d4d8;
    
    --color-foreground: #09090b;
    --color-foreground-secondary: #27272a;
    --color-foreground-muted: #52525b;
    --color-foreground-tertiary: #71717a;
    --color-foreground-placeholder: #a1a1aa;
    
    --color-brand: #2563eb;
    --color-brand-active: #1d4ed8;
    
    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-surface: #09090b;
      --color-surface-elevated: #18181b;
      --color-surface-hover: #27272a;
      --color-surface-overlay: rgba(0, 0, 0, 0.6);
      
      --color-border: #18181b;
      --color-border-strong: #27272a;
      
      --color-foreground: #f4f4f5;
      --color-foreground-secondary: #d4d4d8;
      --color-foreground-muted: #a1a1aa;
      --color-foreground-tertiary: #8e8e93;
      --color-foreground-placeholder: #52525b;
      
      --color-brand: #2563eb;
      --color-brand-active: #1d4ed8;
      
      --color-success: #22c55e;
      --color-warning: #f59e0b;
      --color-danger: #ef4444;
    }
  }
}
