@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-surface: #F9FAFB;
    --color-surface-dim: #d8d9e3;
    --color-surface-bright: #f9f9ff;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f2f3fd;
    --color-surface-container: #F3F4F6;
    --color-surface-container-high: #E5E7EB;
    --color-surface-container-highest: #e1e2ec;
    --color-on-surface: #111827;
    --color-on-surface-variant: #374151;
    --color-inverse-surface: #2e3038;
    --color-inverse-on-surface: #eff0fa;
    --color-outline: #727785;
    --color-outline-variant: #c2c6d6;
    --color-surface-tint: #005ac2;
    --color-primary: #0058be;
    --color-on-primary: #ffffff;
    --color-primary-container: #2170e4;
    --color-on-primary-container: #fefcff;
    --color-inverse-primary: #adc6ff;
    --color-secondary: #505f76;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #d0e1fb;
    --color-on-secondary-container: #54647a;
    --color-tertiary: #924700;
    --color-on-tertiary: #ffffff;
    --color-tertiary-container: #b75b00;
    --color-on-tertiary-container: #fffbff;
    --color-error: #ba1a1a;
    --color-on-error: #ffffff;
    --color-error-container: #ffdad6;
    --color-on-error-container: #93000a;
    --color-primary-fixed: #d8e2ff;
    --color-primary-fixed-dim: #adc6ff;
    --color-on-primary-fixed: #001a42;
    --color-on-primary-fixed-variant: #004395;
    --color-secondary-fixed: #d3e4fe;
    --color-secondary-fixed-dim: #b7c8e1;
    --color-on-secondary-fixed: #0b1c30;
    --color-on-secondary-fixed-variant: #38485d;
    --color-tertiary-fixed: #ffdcc6;
    --color-tertiary-fixed-dim: #ffb786;
    --color-on-tertiary-fixed: #311400;
    --color-on-tertiary-fixed-variant: #723600;
    --color-background: #f9f9ff;
    --color-on-background: #191b23;
    --color-surface-variant: #e1e2ec;
    --color-border-subtle: #E5E7EB;
  }

  .dark {
    --color-surface: #10131a;
    --color-surface-dim: #10131a;
    --color-surface-bright: #363941;
    --color-surface-container-lowest: #0b0e15;
    --color-surface-container-low: #191b23;
    --color-surface-container: #1d2027;
    --color-surface-container-high: #272a31;
    --color-surface-container-highest: #32353c;
    --color-on-surface: #e1e2ec;
    --color-on-surface-variant: #c2c6d6;
    --color-inverse-surface: #e1e2ec;
    --color-inverse-on-surface: #2e3038;
    --color-outline: #8c909f;
    --color-outline-variant: #424754;
    --color-surface-tint: #adc6ff;
    --color-primary: #adc6ff;
    --color-on-primary: #002e6a;
    --color-primary-container: #4d8eff;
    --color-on-primary-container: #00285d;
    --color-inverse-primary: #005ac2;
    --color-secondary: #b9c8de;
    --color-on-secondary: #233143;
    --color-secondary-container: #39485a;
    --color-on-secondary-container: #a7b6cc;
    --color-tertiary: #ffb786;
    --color-on-tertiary: #502400;
    --color-tertiary-container: #df7412;
    --color-on-tertiary-container: #461f00;
    --color-error: #ffb4ab;
    --color-on-error: #690005;
    --color-error-container: #93000a;
    --color-on-error-container: #ffdad6;
    --color-primary-fixed: #d8e2ff;
    --color-primary-fixed-dim: #adc6ff;
    --color-on-primary-fixed: #001a42;
    --color-on-primary-fixed-variant: #004395;
    --color-secondary-fixed: #d4e4fa;
    --color-secondary-fixed-dim: #b9c8de;
    --color-on-secondary-fixed: #0d1c2d;
    --color-on-secondary-fixed-variant: #39485a;
    --color-tertiary-fixed: #ffdcc6;
    --color-tertiary-fixed-dim: #ffb786;
    --color-on-tertiary-fixed: #311400;
    --color-on-tertiary-fixed-variant: #723600;
    --color-background: #10131a;
    --color-on-background: #e1e2ec;
    --color-surface-variant: #32353c;
  }
}
